// Navigation Styles here
header {
  width: 100%;
  border-bottom: 4px dotted lightgray;
  padding: 20px 0;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {}

  a {
    .anchor();
    margin-right: 20px;
  }
}