// Navigation Styles here
header {
  width: 100%;
  border-bottom: 4px dotted lightgray;
  padding: 20px 0;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
      @media @mobile {
        display: flex;
        justify-content: space-between;
        width: 85%;

        a {
          margin: 0;
        }
      }
    }

    @media @mobile {
      flex-direction: column;

      h1 {
        font-size: 3rem;
        margin-bottom: 10px;
      }
    }
  }

  a {
    .anchor();
    margin-right: 20px;
  }
}

.jumbotron {
  h2 {
    margin-top: 20px;
  }

  p {
    padding: 20px 0;
    border-bottom: 4px dotted lightgray;
  }
}